<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="icon" href="images/building.svg" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <style></style>
  </head>
  <body>
    <section class="container-fluid py-3 hero-header mb-3">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand text-white" href="#"
            ><h1><b>E-Government</b></h1></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
           
            <ul class="navbar-nav ms-auto py-0">
              <li class="nav-item">
                <a class="nav-link" href="/signin">Sign-in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign-up</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <hr />
      <div class="container-fluid text-white my-5 py-5 px-lg-5">
        <div class="row">
          <div class="col-sm" style="text-align: center">
            <h1 class="text-white animated zoomIn">Sign up</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- header-->

    <div class="container rounded w-50 glass-background text-center mt-5 p-5">
      <h1>Sign Up</h1>
      <% if (error) { %>
      <div><%= error %></div>
      <% } %>
      <form method="POST" action="/signup" novalidate>
        <input
          type="text"
          name="username"
          placeholder="Username"
          class="p-2 rounded"
          required
        /><br /><br />
        <input
          type="text"
          name="role"
          placeholder="role"
          class="p-2 rounded"
          required
        /><br /><br />
        <input
          type="email"
          name="email"
          placeholder="📧 Email"
          class="p-2 rounded"
          required
        /><br /><br />
        <input
          type="password"
          name="password"
          placeholder="🔒 Password"
          class="p-2 rounded"
          required
        /><br /><br />
        <button type="submit" class="p-2 rounded">Join Us!</button>
      </form>
      <h5>Already have an account? <a href="/signin">Sign in!<a></h5>
    </div>
    <footer>
      <div style="background-color: #006a67" class="text-center mt-3">
        E-Government &copy;2024
        <a href="#" class="text-white">Privacy Policy</a>
      </div>
    </footer>
  </body>
</html>
